@import '../css/normalize.css';
.container {
  width: 960px;
  padding: 0 10px;
  margin: 0 auto;
  display: -ms-flexbox;
  display: flex;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  outline-color: inherit;
}
.section-title {
  margin-top: 52px;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 30px;
}
.btn {
  background-color: #f13037;
  text-align: center;
  color: #fff;
  border: 0px;
  text-transform: uppercase;
}
.btn__download {
  color: #ffffff;
  font-size: 18px;
  line-height: 40px;
  margin-top: 20px;
}
.btn__download--big {
  display: inline-block;
  width: 292px;
  font-size: 20px;
  line-height: 70px;
  text-decoration: none;
}
.container {
  -ms-flex-pack: justify;
      justify-content: space-between;
}
header {
  background: linear-gradient(130deg, #fff 67%, #54b948 67%, #54b948 68%, #0067c5 14%);
  height: 80px;
  border-bottom: 4px solid #0aa60a;
}
.header__logo {
  padding: 13px 0;
  margin-left: -10px;
}
.header__offers {
  text-decoration: none;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
}
.header__offers-text {
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}
.header__offers-text--big {
  font-size: 19px;
}
.download {
  margin: 24px 0px 55px 0px;
  padding-top: 24px;
  background-color: #0067c5;
  height: 522px;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: justify;
      justify-content: space-between;
}
.download .description {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
}
.download .form {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  margin-right: 16px;
}
.download__new {
  background-color: #fff;
  margin-left: 44px;
  margin-top: 20px;
  color: #f13037;
  line-height: 42px;
  font-weight: bold;
  width: 100px;
  height: 42px;
  text-align: center;
  font-size: 30px;
}
.download__title {
  color: #fff;
  font-weight: bold;
  font-size: 24px;
  margin: 0;
  margin-top: 35px;
  margin-left: 44px;
}
.download__text {
  width: 400px;
  color: #fff;
  font-weight: normal;
  font-size: 24px;
  margin: 0;
  margin-left: 44px;
}
.download__netapp-link {
  margin-left: 44px;
  margin-top: 44px;
}
.download__form {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  box-sizing: border-box;
  background-color: #1a76cb;
  padding: 20px;
  border: 3px solid #3482ca;
}
.download__form-title {
  margin: 0;
  font-size: 18px;
  font-weight: normal;
  color: #fff;
  text-align: center;
  margin-bottom: 10px;
}
.download__form-input {
  height: 40px;
  width: 325px;
  margin-bottom: 10px;
  padding-left: 10px;
  outline-color: transparent;
}
.download__form select {
  width: 340px;
}
.about {
  background-color: #e5e9ee;
  padding-top: 45px;
  padding-bottom: 55px;
}
.about__video {
  margin-right: 63px;
  width: 292px;
}
.about__text {
  font-size: 18px;
  line-height: 28px;
  margin: 0;
  color: #444444;
}
.about__text--bold {
  font-weight: bold;
}
.link {
  text-decoration: none;
  font-family: 'Droid Sans', sans-serif;
  font-weight: bold;
  margin-right: 35px;
  margin-top: 15px;
  display: inline-block;
}
.link__text {
  color: #1091c7;
  display: inline-block;
  font-size: 14px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}
.link__text--desk:before {
  content: '';
  background-image: url(../../img/desk.png);
  background-repeat: no-repeat;
  display: inline-block;
  width: 32px;
  height: 32px;
  margin-right: 15px;
}
.link__text--video:before {
  content: '';
  background-image: url(../../img/video.png);
  background-repeat: no-repeat;
  display: inline-block;
  width: 32px;
  height: 24px;
  margin-right: 15px;
}
.link__text--blog:before {
  content: '';
  background-image: url(../../img/blog.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
  width: 32px;
  height: 25px;
  margin-right: 15px;
}
.nav-link {
  border-bottom: 3px solid #e5e5e5;
}
.nav-link ul {
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: baseline;
      align-items: baseline;
  margin: 0;
  padding: 0;
}
.nav-link li {
  list-style-type: none;
  display: inline-block;
}
.nav-link__item {
  display: inline-block;
  text-transform: uppercase;
  color: #333333;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  line-height: 70px;
}
.nav-link__item a {
  text-decoration: none;
  color: #333333;
}
.nav-link__item--active {
  color: #54b948;
  text-decoration: underline;
}
.benefits {
  padding-bottom: 50px;
}
.benefits .link {
  margin-top: 20px;
}
.benefits .container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
}
.benefits ul {
  margin: 0;
  margin-top: 10px;
  padding-left: 20px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: justify;
      justify-content: space-between;
}
.benefits li {
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
  text-align: left;
}
.benefits__text {
  margin: 0;
  font-size: 14px;
  font-weight: normal;
  color: #444444;
  text-align: justify;
}
.benefits__text--bold {
  font-weight: bold;
}
.benefits__scheme {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 43px;
  margin-bottom: 25px;
}
.benefits__scheme-text {
  width: 200px;
  font-family: 'Droid Sans', sans-serif;
  font-size: 13px;
  color: #666;
  line-height: 18px;
  text-align: center;
  margin: 0 auto;
  margin-top: 5px;
}
.benefits__scheme-item {
  display: inline-block;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: center;
      justify-content: center;
}
.benefits__scheme-item img {
  border: 2px solid #e0e0e0;
  width: 292px;
  height: 132px;
}
.benefits__backup-scheme-img {
  width: 908px;
  border: 2px solid #e0e0e0;
  margin-top: 25px;
}
.backup {
  background-color: #e5e9ee;
}
.backup h3 {
  margin: 0;
}
.backup .container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
}
.backup .row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-align: start;
      align-items: flex-start;
  -ms-flex-pack: justify;
      justify-content: space-between;
}
.backup .col {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-preferred-size: 64%;
      flex-basis: 64%;
}
.backup__text {
  font-size: 14px;
  font-weight: normal;
  color: #444444;
}
.backup__text--bold {
  font-weight: bold;
}
.vsphere {
  padding-bottom: 50px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  border-bottom: 2px solid #cfd5dc;
}
.lowrpo {
  margin-top: 40px;
  padding-bottom: 50px;
  border-bottom: 2px solid #cfd5dc;
}
.howitwork {
  margin-top: 40px;
  padding-bottom: 50px;
}
.backup__snapshot {
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-preferred-size: 33%;
      flex-basis: 33%;
  text-decoration: none;
}
.backup__snapshot-graph {
  display: inline-block;
  height: 266px;
  width: 292px;
}
.backup__snapshot-storage {
  display: inline-block;
  height: 166px;
  width: 292px;
}
.storage-scheme {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: center;
      justify-content: center;
}
.storage-scheme span {
  font-family: 'Droid Sans', sans-serif;
  font-size: 13px;
  color: #666;
  line-height: 18px;
  text-align: center;
  margin: 0 auto;
  margin-top: 5px;
}
.storage-scheme__img {
  width: 292px;
  height: 160px;
}

/*# sourceMappingURL=style.css.map */
