@main-font:                 'Open Sans', sans-serif;

// Colors

@green-color: #54b948; //Зеленый цвет наклонной линии
@header-bdr: #0aa60a; // Зеленый цвет нижней границы
@blue-color: #0067c5; //Синий цвет шапки
@form-bgr-color: #1a76cb; //Фон формы скачивания
@form-bdr-color: #3482ca; //Цвет рамки формы
@red-color: #f13037; //Красный цвет кнопок
